Options -MultiViews
RewriteEngine On

RewriteBase /

# Direct TV
RewriteRule ^live/([^/]+)/([^/]+)/([^/]+)\.(ts|m3u8)$ live.php?username=$1&password=$2&stream=$3&extension=$4 [L,QSA]

# Films
RewriteRule ^movie/([^/]+)/([^/]+)/([^/]+)\.(mp4|mkv|avi|m3u8)$ vod.php?username=$1&password=$2&stream=$3&extension=$4 [L,QSA]

# Séries
RewriteRule ^series/([^/]+)/([^/]+)/([^/]+)\.(mp4|mkv|avi|m3u8)$ series.php?username=$1&password=$2&stream=$3&extension=$4 [L,QSA]
