Options -MultiViews
RewriteEngine On

RewriteBase /

# FORCER GET.PHP A PASSER PAR LE PROXY
RewriteRule ^get\.php$ router.php [L,QSA]

# 1. Direct TV (Live)
RewriteRule ^live/([^/]+)/([^/]+)/([^/]+)\.(.*)$ live.php?username=$1&password=$2&stream=$3&extension=$4 [L,QSA]

# 2. Films (VOD)
RewriteRule ^movie/([^/]+)/([^/]+)/([^/]+)\.(.*)$ vod.php?username=$1&password=$2&stream=$3&extension=$4 [L,QSA]

# 3. Séries (Supporte mkv, mp4, avi, etc.)
RewriteRule ^series/([^/]+)/([^/]+)/([^/]+)\.(.*)$ series.php?username=$1&password=$2&stream=$3&extension=$4 [L,QSA]
